.reset-password-page {
    min-height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-password-bg {
    position: fixed;
    inset: 0;
    background-image: url('../../../assets/images/auth-background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 0;
}

.back-btn, .page-title, .page-subtitle, .form-title, .reset-password-form {
    position: relative;
    z-index: 1;
}

.page-title {
    color: #F59E0B;
    font-size: 5rem;
    line-height: 1.2;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.page-subtitle {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.4;
}

.form-title {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-top: 7.5rem;
    margin-bottom: 2.5rem;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-label {
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2rem;
}

.input-field {
    width: 300px;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 0;
    font-size: 1.25rem;
    outline: none;
    background-color: white;
}

.input-field:focus {
    border-color: #3B82F6;
}

.input-error-border {
    border-color: red !important;
}

.input-error {
    color: red;
    font-size: 1.2rem;
}

.forgot-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2rem;
}

.forgot-link:visited {
    color: purple;
}

.forgot-link:hover {
    text-decoration: underline;
}

.reset-password-btn {
    background-color: #3B82F6;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.reset-password-btn:hover {
    background-color: #2563EB;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #000;
    background-color: white;
    width: 300px;
}

.input-wrapper .input-field {
    border: none;
    flex: 1;
}

.show-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #3B82F6;
    padding: 0 0.5rem;
}

.back-btn {
    background-color: #3B82F6;
    position: relative;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: fit-content;
    margin: 1.5rem;
    margin-bottom: 0;
}

.back-btn:hover {
    background-color: #2563EB;
}